@model IList<FinerEli.Models.Food>

<ol
    id="food-list"
    class="space-y-4">
    @foreach (var food in Model)
    {
        <li>
            <a
                class="text-xl text-lime-950 pb-3 hover:underline"
                href="/FoodDetails/@food.Id">
                @food.Name
            </a>
        </li>
    }
</ol>