@page "{id:int}"
@model FinerEli.Pages.FoodDetails

@{
    ViewData["Title"] = "Elintarvike";
}

<section>
    <h1 class="text-xl pb-5">@Model.Food.Name</h1>

    <ul>
        @foreach (var componentClass in Model.ComponentClasses)
        {
            <li>
                <details>
                    <summary>@componentClass.Description</summary>
                </details>
            </li>
        }
    </ul>
</section>