@page
@model SearchModel
@{
    ViewData["Title"] = "Haku";
}

<h1
    class="text-3xl my-4">
    Elintarvikehaku
</h1>
<form
    method="get"
    action="/Search"
    class="flex flex-col w-1/2 mb-5">
    <label
        for="search"
        class="sr-only">
        Elintarvikkeen nimi
    </label>
    <button
        type="submit"
        disabled
        class="hidden"
        aria-hidden="true">
    </button>
    <p
        class="flex space-x-4">
        <input
            id="search"
            asp-for="Q"
            placeholder="Etsi elintarvikkeen nimellä..."
            hx-get="/Search"
            hx-trigger="search, keyup delay:300ms changed"
            hx-target="#food-list"
            hx-push-url="true"
            hx-indicator="#loading-indicator"
            class="w-full rounded border border-lime-900 bg-transparent px-3 py-2.5 text-sm placeholder:text-gray-800 outline outline-0 transition-all focus:border-2 focus:border-lime-500 focus:outline-0"/>
    </p>
</form>
<img
    id="loading-indicator"
    class="animate-spin htmx-indicator mb-3"
    src="/img/loading.svg"
    alt="Ladataan tietoja..."/>

@await Html.PartialAsync("_FoodItems", Model.FoodNames)