@page
@model SearchModel
@{
    ViewData["Title"] = "Haku";
}

<h1 class="text-3xl my-4">Elintarvikehaku</h1>
<form method="get" action="/Search" name="Q" class="flex flex-col w-1/2">
    <label for="search" class="sr-only">Elintarvikkeen nimi</label>
    <p class="flex space-x-4">
        <input id="search" type="search" asp-for="Q" placeholder="Etsi elintarvikkeen nimellä..." hx-get="/Search" hx-trigger="search, keyup delay:300ms changed" hx-target="#food-list" class="w-full rounded border border-gray-200 bg-transparent px-3 py-2.5 text-sm text-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-gray-200 placeholder-shown:border-t-gray-200 focus:border-2 focus:border-green-500 focus:outline-0 disabled:border-0 disabled:bg-gray-50"/>
        <noscript >
            <input type="submit" class="rounded-lg bg-green-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"/>
        </noscript>
    </p>
</form>
<ol class="mt-10" id="food-list">
    @await Html.PartialAsync("_FoodItems", Model.FoodNames)
</ol>